<button *ngIf!="item" type="button" class="btn btn-warning" (click)="goBack()">Go Back</button>
<md-card *ngIf="item">
  <md-toolbar color="warn">Item Detail</md-toolbar>
  <md-card-content>
      <table style="width: 100%" cellspacing="0">
          <tr>
              <td><md-input type="text" [(ngModel)]="item.name" #name placeholder="Name" style="width: 100%"></md-input></td>
          </tr>
          <tr>
              <td><md-input type="text" [(ngModel)]="item.number" #number placeholder="Item Number" style="width: 100%"></md-input></td>
          </tr>
          <tr>
              <td><md-input type="text" [(ngModel)]="item.size" #size placeholder="Size" style="width: 100%"></md-input></td>
          </tr>
          <tr>
              <td><md-input type="text" [(ngModel)]="item.color" #color placeholder="Color" style="width: 100%"></md-input></td>
          </tr>
          <tr>
              <td><md-input type="text" [(ngModel)]="item.tbId" #tbId placeholder="TbId" style="width: 100%"></md-input></td>
          </tr>
          <tr>
              <td><input type="checkbox" [(ngModel)]="item.status" #status placeholder="Status"><label *ngIf="item.status">Got it</label></td>
          </tr>
    </table>
  </md-card-content>
  <md-card-actions>
    <button type="button" class="btn btn-info" (click)="updateItem(name.value, number.value, size.value, color.value, tbId.value, status.checked)">Update</button>
    <button type="button" class="btn btn-info" (click)="removeItem()">Delete</button>
   </md-card-actions>
</md-card>

<md-card *ngIf!="item">
  <md-toolbar color="warn">Add Item</md-toolbar>
  <md-card-content>
      <table style="width: 100%" cellspacing="0">
          <tr>
              <td><md-input type="text" #name placeholder="Name" style="width: 100%"></md-input></td>
          </tr>
          <tr>
              <td><md-input type="text" #number placeholder="Item Number" style="width: 100%"></md-input></td>
          </tr>
          <tr>
              <td><md-input type="text" #size placeholder="Size" style="width: 100%"></md-input></td>
          </tr>
          <tr>
              <td><md-input type="text" #color placeholder="Color" style="width: 100%"></md-input></td>
          </tr>
          <tr>
              <td><md-input type="text" #tbId placeholder="TbId" style="width: 100%"></md-input></td>
          </tr>
    </table>
  </md-card-content>
  <md-card-actions>
    <button type="button" class="btn btn-info" (click)="createItem(name.value, number.value, color.value, size.value, tbId.value)">Add</button>
   </md-card-actions>
</md-card>