<div *ngIf="item">
    <div>
        <label>Name: </label>
        <input type="text" [(ngModel)]="item.itemName" #itemName/>
    </div>
    <div>
        <label>Item Number: </label>
        <input type="text" [(ngModel)]="item.itemNumber" #itemNumber/>
    </div>
    <div>
        <label>Size: </label>
        <input type="text" [(ngModel)]="item.itemSize" #itemSize/>
    </div>
    <div>
        <label>Color: </label>
        <input type="text" [(ngModel)]="item.itemColor" #itemColor/>
    </div>

    <button (click)="updateItem(itemName.value, itemNumber.value, itemSize.value, itemColor.value)">Update</button>
    <button (click)="deleteItem()">Delete</button>
    <button (click)="goBack()">Go Back</button>
</div>