<ul>
  <li *ngFor="let item of items | async" (click)="onSelect(item)">
    <!--<input type="text" #updatetext [value]="item.itemName" />-->
    <span class="badge">Name: {{item.itemName}}</span> Number: {{item.itemNumber}}
    Size: {{item.itemSize}} Color: {{item.itemColor}}

    <!--<button (click)="updateItem(item.$key, updatetext.value)">Update</button>
    <button (click)="deleteItem(item.$key)">Delete</button>-->
  </li>
</ul>

<button id="addButton" (click)="addItem()">Add Item</button>
<button (click)="goBack()">Go Back</button>


<div *ngIf="selectedItem">
    <h2>
        {{selectedItem.itemName | uppercase}} is my selected
    </h2>
    <!--<button (click)="gotoDetail()">View Details</button>-->

    <item-detail [item]="selectedItem" ></item-detail>
</div>


