<div class="row">
  <div class="col-sm-1">
    <button type="button" class="btn btn-warning" (click)="goBack()">Go Back</button>
  </div>
  <div class="col-sm-1">
    <button *ngIf!="isHistory" type="button" class="btn btn-info" (click)="addItem()">Add Item</button>
  </div>
</div>
<br>

<div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
        <label *ngIf="isHistory">History List</label>
        <label *ngIf!="isHistory">Date: {{ createDate * 1000 | date:'yyyy-MM-dd' }}</label>
        <br>
        <li *ngFor="let item of items$ | async ; let i = index" class="list-group-item" (click)="onSelect(item)">
          <div class="row">
            <div class="col-sm-12">
              <label>{{i+1}}. {{item.name}}</label>
              <!--<p>Date: {{item.createDate * 1000 | date:'yyyy-MM-dd' }}</p>-->
              <br>
              <label>{{item.number}}</label>
              <br>
              <label>{{item.size}}</label>
              <br>
              <label>{{item.color}}</label>
              <br>
              <input type="checkbox" [(ngModel)]="item.status"><label *ngIf="item.status">Got it</label>
            </div>
            <!--<div class="col-sm-4">
              <button type="button" class="btn btn-info" (click)="onSelect(item)">VIEW DETAIL</button>
            </div>-->
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="selectedItem" class="col-sm-8">
      <label>{{selectedItem.name | uppercase}} is my selected</label>
      <br>
      <item-detail [item]="selectedItem" (cancelSelected)="cancelSelected($event)"></item-detail>
    </div>
</div>









